[submodule "libs/circle"]
	path = libs/circle
	url = https://github.com/oysteinskotheim/circle.git
	branch = bmc64
[submodule "libs/circle-newlib"]
	path = libs/circle-newlib
	url = https://github.com/oysteinskotheim/circle-newlib.git
	branch = bmc64
[submodule "libs/mbedtls"]
	path = libs/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
